/* Header */
.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #ef5e36, #ed4333);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--navbar-height);
}

.header__navbar-list {
    list-style: none;
    margin-top: 4px;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-connect:hover {
    cursor: default;
    color: var(--white-color);
}

.header__navbar-icon {
    font-size: 1.6rem;
    margin: 0 2px;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
}

.header__navbar-item--strong {
    font-weight: 400;
}

.separate {
    position: relative;
}
.separate::before {
    content: '';

    position: absolute;
    top: 50%;
    left: -9px;
    display: block;
    width: 1px;
    height: 12px;
    transform: translateY(-50%);

    border-left: 1px solid rgba(210, 210, 210, 0.5)
}

/* Header qr */
.header__navbar-item--has-qr:hover > .header__qr {
    display: block;
}

.header__qr {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    width: 186px;
    padding: 8px;
    display: none;

    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 1px 2px #ccc;

    animation: fadeIn 0.5s ease;
}

.header__qr::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 20px;
    background-color: transparent;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__qr-link:first-child {
    margin-left: 11px;
}

.header__qr-link:last-child {
    margin-right: 11px;
}

.header__qr-download-img {
    width: 100%;
    height: 18px;
}

/* Header notify */
.header__navbar-item-notify:hover .header__notify {
    display: block;
}

@keyframes headerNotifyGrowth {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.header__notify {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    z-index: 1;
    width: 404px;
    display: none;

    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 1px 2px #ccc;
    cursor: default;

    transform-origin: top right;
    animation: headerNotifyGrowth 0.3s ease;
    will-change: transform, opacity;
}


.header__notify::before {
    content: '';
    --border-height: 8px;
    border-width: var(--border-height) 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: calc(var(--border-height) * -2);
    right: 21px;
    z-index: 1;
}

.header__notify::after {
    content: '';
    position: absolute;
    top: -10px;
    right: 0;
    width: 100px;
    height: 10px;
    z-index: 1;
}

.header__notify-header {
    display: block;
    --height: 40px;
    height: var(--height);
    line-height: var(--height);
    padding-left: 14px;

    user-select: none;
}

.header__notify-header > h3 {
    color: var(--text-color);
    opacity: 0.7;
    font-weight: 400;
    font-size: 1.4rem;
}

.header_notify-list {
    list-style: none;
}

.header__notify-item {
    padding-left: 12px;
    padding-right: 22px;
    height: 76px;
    background-color: #fdefec;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--seen {
    background-color: #fff;
}

.header__notify-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: var(--text-color);
}

.header__notify-img {
    width: 50px;
    object-fit: contain;
    align-self: center;
}

.header__notify-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 12px;
}

.header__notify-name {
    font-size: 1.3rem;
    font-weight: 400;
}

.header__notify-description {
    font-size: 1.2rem;
    margin-top: 4px;
    text-align: justify;
}

.header__notify-footer {
    height: 32px;
    text-align: center;
}

.header__notify-footer > a {
    color: var(--text-color);
    text-decoration: none;
    padding: 12px 0;
    line-height: 32px;
    user-select: none;
}

/* Auth form */
.auth-form {
    width: 500px;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form {
    margin-top: 16px;
}

.auth-form__form-group {
    margin-top: 16px;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside,
.auth-form__controls {
    margin-top: 18px;
}

.auth-form__aside {
    margin-bottom: 80px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__policy-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 12px 36px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
    margin-right: 20px;
}

.auth-form__socials--facebook {
    color: var(--white-color);
    background-color: #3a5a98;
}

.auth-form__socials--facebook .auth-form__socials--google {
    color: var(--white-color);
}

.auth-form__socials--google {
    background-color: #fff;
}

.auth-form__socials--facebook:hover, 
.auth-form__socials--google:hover {
    opacity: 0.9;
}

.auth-form__socials-item {
    padding: 0 10px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    margin: 0 11px;
    color: var(--text-color);
}

.auth-form__forgot-pass {
    color: var(--primary-color);
}

/* Header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}

.header__logo {
    width: 200px;
    margin: 0 8px;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.header__cart {
    width: 150px;
    height: 40px;
    text-align: center;
}

.header__cart-icon {
    font-size: 2rem;
    color: var(--white-color);
    line-height: 40px;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-select {
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    position: relative;
}

.header__search-select::before {
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    width: 120px;
    height: 20px;
}

.header__search-select:hover .header__search-options {
    display: block;
}

.header__search-options {
    position: absolute;
    top: calc(100% + 11px);
    right: 0;
    list-style: none;
    width: 120px;
    box-shadow: 0 0 2px #ccc;
    border-radius: 3px;
    display: none;
    animation: fadeIn 0.2s linear;
}

.header__search-options-item {
    background-color: #fff;
    border-radius: 3px;
    padding: 10px 0;
    padding-left: 14px;
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-options-item:hover {
    cursor: pointer;
    background-color: #fafafa;
}

.header__search-options-item > i {
    color: var(--primary-color);
    margin-left: 10px;
    display: none;
}

.header__search-options-item--active > i {
    display: inline-block;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: #4a4a4a;
    padding: 0 8px;
    position: relative;
    top: 1px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    border-radius: 3px;
    margin-right: 3px;
    width: 60px;
    outline: none;
    cursor: pointer;
}

.header__search-btn:hover {
    opacity: 0.8;
}


.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-history {
    display: none;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px #999;
}

.header__search-history-heading {
    padding: 12px 12px;
    padding-bottom: 8px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    list-style: none;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-history-item:hover {
    background-color: #f4f4f4;
}

.header__search-history-item > a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
}